# =====================
# DATABASE
# =====================
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=15431

# =====================
# REDIS
# =====================
REDIS_PORT=6379

# =====================
# PGADMIN
# =====================
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050

# =====================
# APPS
# =====================
BACKEND_PORT=3000
ADMIN_PANEL_PORT=3001
FRONTEND_PORT=3002
